@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --bg-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.prose {
  /* Replace the dark theme with a light one */
  --tw-prose-pre-bg: oklch(96.639% 0.0011 202.634);
  --tw-prose-pre-code: oklch(27.8% 0.033 256.848);
}
