@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  background-color: var(--bg-color);
}

a {
  font-weight: 500;
  text-decoration: inherit;

  color: #a4a8f9;
  &:hover {
    color: #9297ff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --bg-color: #ffffff;
  }
  a {
    color: #4a53ff;
    &:hover {
      color: #747bff;
    }
  }

  .prose {
    /* Replace the dark theme with a light one */
    --tw-prose-pre-bg: oklch(96.639% 0.0011 202.634);
    --tw-prose-pre-code: oklch(27.8% 0.033 256.848);
  }
}

.prose {
  del {
    @apply bg-red-200 dark:bg-red-700;
  }
  ins {
    @apply bg-green-200 dark:bg-green-700;
  }
}
